<h3>Contact Us</h3>
<p>
Tara Gaire, BVSc (DVM), MS, Ph.D. <br>
Assistant Professor <br>
Texas Tech University-School of Veterinary Medicine <br>
Amarillo, TX <br>
<br>
email: tgaire (at) ttu.edu <br>
<br>

</p>

<p>
<h3>Interested in joining the Gaire lab?</h3>
---
The Gaire Lab is committed to mentoring DVM students, graduate students, and postdoctoral scholars who are excited about One Health, epidemiology, and data-driven approaches to infectious disease and AMR.  
{: .welcomefont}

If you are interested in joining the lab or exploring potential collaborations, please visit the **Join** page or contact us by email.
{: .welcomefont}
We don’t generally post for specific positions, <a href="{{ tgaire@ttu.edu }}/join">so please reach out!</a> We welcome applicants from all backgrounds.<br>
</p>
